<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><a href=<%= "mailto:#{@contact.email}" %>><%= @contact.name %></a> has submitted the following message.</p>
    <p><%= @contact.message %></p>
  </body>
</html>