/* line 5, /Users/lspathlu/Desktop/lauren/edatrix/andrew_gibson_author/app/assets/stylesheets/static.css.scss */
.body {
  margin-bottom: 40px;
}

/* line 11, /Users/lspathlu/Desktop/lauren/edatrix/andrew_gibson_author/app/assets/stylesheets/static.css.scss */
.cover img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 18, /Users/lspathlu/Desktop/lauren/edatrix/andrew_gibson_author/app/assets/stylesheets/static.css.scss */
.buy {
  margin-top: 20px;
}
/* line 20, /Users/lspathlu/Desktop/lauren/edatrix/andrew_gibson_author/app/assets/stylesheets/static.css.scss */
.buy a {
  color: white;
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

