<div class="container-fluid">
  <h2>About</h2>
  <div>
    <p>First things first: My name is Andrew Gibson and I was born on November 8th, 1984, so you do your own math to figure out how old I am. This works nicely becuse it basically updates you on my age regardless of the day. Ingenious, right? Not really, I'm just super lazy. Not.. TOO lazy though. I wrote a book so that should say something about me.</p>

    <p>But I digress</p>

    <p>I was born in Fort Wayne, IN and raised there for the first 18 years of my life. It's a sleepy little town of approximately 300k people that's nestled betwixt major cities like Chicago, Indianapolis, and Detroit. So there are numerous escapes routes to choose from. I live there (here?) still but other places I have lived include Arizona and Florida.</p>

    <p>I have been writing for pretty much my entire life, from the moment I was able to write letters and arrange them into coherent forms resembling words that in turn made up sentences. It's a vague memory, and may even be a dream, but the first story I remember wrting was in 1st grade and it was about Godzilla or a Godzilla-like creature.</p>

    <p>However, here I am now basking in the glory of my first completed novel that doesn't totally suck (my opinion). It's a monumental task for someone like me, but I am not taking any of it for granted. Hopefully there are many more to come. (Damn, now I'll have to update this when I write another book. Wait, if I don't write another book....)</p>

    <p>Also, I'm aware this site is quite amateur in just about every aspect, but as of now I don't have a lot of things to fill it with, but I promise as my career evolves more things will be added. I think the next thing is add a blog section to keep you updated on everything about me, i.e. my current moods, things that annoy me, general life occurences, and what socks I am wearing (hint: they're white and cotton most of  the time).</p>
  </div>
</div>