<div class="container-fluid body">
  <div class="col-sm-12">
    <p>Let's talk about The Bloodless, shall we?</p>

    <p>One question I always hear writers get asked is, "Where do you get your inspiration from?" Well, let me go ahead and answer that question ahead of time.</p>

    <p>From my dreams. Seriously.</p>

    <p>I had a series of dreams about one section in particular that you will find in the book. It left an indelible impression upon me and I felt compelled to write about it. More specifically, the dream featured The Cloud as a prominent symbol that really stuck with me. I remembered it the next morning and ran with the idea and everything basically blossomed from there.</p>

    <p>Once I started figuring out my story, or realy, when my story started revealing itself to me, I wanted to write about a different kind of enemy. I enjoy the idea of zombies, but the whole schtick has been worn down to a scabby knub, so I wanted to do something different. A different kind of reborn, undead type enemy, one that is based more on science and the human endeavor to live forever, rather than a virus gone wrong. I think I've done that.</p>

    <p>Some people may not see it that way, some people will say, "Oh, here we go, just another zombie story." However, I implore you not to pass it off as that. I will admit, that is somewhat how it started it off, but I have already begun work on the next book in the series (oh no! spoiler alert!) and the turn this story is taking is anything but zombie-like.</p>

    <p>We always say, "Don't judge a book by its cover." Well, go ahead and judge my book by its cover, because, damn, that's a nice cover (All credit goes to Shea Rutherford who did a splendiferous job on the execution of my vision. He is a local tattoo artist here in Fort Wayne and a long time friend of mine. He does more than just tattos, obviously, so check out his instagram http://www.instagram.com/shea_rutherford)!</p>

    <p>Just don't judge the story by the cover of it's theme.</p>
  </div>
</div>