<div class="container-fluid body">
  <div class="jumbotron">
    <div class="container">
      <h1>The Bloodless</h1>
      <p>What if the dead didn't have to stay dead?</p>
    </div>
  </div>
  <div class="col-md-4 book-cover">
    <%= image_tag "front_cover.jpg", :class => "img-responsive", :alt => "Bloodless book cover" %>
  </div>
  <div class="col-md-8 index-text">
    <p>Mankind's pursuit of immortality is never-ending, until now. Daniel Justice and his colleagues have finally devised a way to bring the dead back to life. Not as mindless monsters, but as beings who can walk, talk, think, and feel.</p>

    <p>When society rejects those who have been given a second life, an unlikely leader rises among their ranks to band them together and exact revenge on the ones responsible for their existence. But simple revenge isn't enough. The rest of humanity must pay for their misdeeds and the only payment acceptable is their lives.</p>

    <p>Now Daniel, the only one willing to try and stop them, gathers a small group of mercenaries brave enough to try and take down these monsters who have commandeered the laboratory responsible for creating the Bloodless.</p>

    <p>For now the incident is isolated in northwest New Mexico. They will have to face a small army of resurrected family, friends, and enemies that want nothing more than to rip them limb from limb. Can they succeed before the mastermind behind it all eliminates every last living being on the planet?</p>

    <div class="btn-group buy">
      <a href="http://www.amazon.com/Bloodless-Andrew-Gibson-ebook/dp/B014VDN1PC/ref=sr_1_3?s=books&ie=UTF8&qid=1441325703&sr=1-3"><button type="button" class=" btn btn-primary" aria-haspopup="true" aria-expanded="false">Buy on Amazon</button></a>
    </div>
  </div>
</div>
