// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer-tagline {
  font-size: 12px;
  text-align: center;
}

.body {
  margin-bottom: 40px;
}

.cover {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.buy {
  margin-top: 20px;
  a {
    color: white;
    text-decoration: none;
  }
}